# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/

# Dependency directories
.pip/

# Windows installer logs
Thumbs.db

# macOS system files
.DS_Store

# Log files
*.log

# IDE directories and files
.idea/
.vscode/
*.swp

# Other unwanted files
*.bak
*.tmp
